#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: "Pretendard-Regular", "LeferiPoint-BlackA",
    "LeferiPoint-WhiteObliqueA";
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
